@import "../../sass/variable";

.top-job {
  font-family: $font_base;
  background-color: white;
  border-radius: 5px;
  margin: 30px 0px;
  padding: 40px 0px;

  h4 {
    margin: 10px 0px !important;
    padding: 20px 0px;
  }

  .ant-skeleton {
    padding: 10px 5vw;
    margin: 2vh 0px;
    .ant-skeleton-header .ant-skeleton-avatar-lg {
      width: 70px;
      height: 70px;
      line-height: 40px;
      border-radius: 17px !important;
    }
  }

  .h-j-item {
    display: flex;
    padding: 10px 2vw;
    margin: 2vh 3vw;
    height: auto;
    border-radius: 10px;

    &:hover {
      box-shadow: 0px 0px 6px 0px rgba(158, 158, 158, 0.486);
    }

    .img-job {
      img {
        height: 70px;
        width: 70px;
        border-radius: 17px;
      }
    }

    .job-content {
      max-height: 80px;
      width: 100% -70px;
      padding: 0px 10px;
      a {
        text-transform: lowercase;
      }

      a::first-letter{
        text-transform: uppercase;
      }

      li {
        padding: 5px 2px;
        font-size: 0.8rem;
      }

    }
  }
}
