ul {
  width: 100%;
  li {
    padding: 15px 0px;
    width: 100%;
    margin: 0px;
    font-weight: 400;
  }
}

.avatar {
  img {
    float: right;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    right: 0px;
    top: 0px;
  }
}
