@import "../../../sass/variable";

.box-block {
  border-radius: 0px 5px 0px 5px;
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
  width: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  
  p {
    margin: 0px !important;
    
  }

  pre{
    font-size: 0.7 rem !important;
  }

  .block-header {
    padding: 10px;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: IBMPlexSanLights;
    p {
      margin: 0 0;
    }
  }

  .effect {
    transition: opacity 2s;
  }

  .effect .complete {
    opacity: 1;
  }

  .anticon {
    top: 50%;
    right: 50%;
  }
}
