.language-skills{
    font-size: 0.8 rem;
    p{
        margin: 0px !important;
    }
    &:hover {
        box-shadow: rgba(71, 71, 71, 0.2) 0px 0px 5px 0px;
      }

    label{
        margin: 0px;
    }

    .column{
        padding: 0px 10px;
    }
}